nav{
	float:left;
	background-color: grey;
	height: 100%;
	position: fixed;
	width: 20%;
	margin: none;
	padding: none;
}

button{
	height: 50px;
	width: 100%;
	background-color: grey;
	border: none;
	margin: 20px 0px;
	font-size: 18px;
	color: white;
}

button:hover{
	color: blue;
}

p{
	font-size: 12px;
}

main{
	float: right;
	width: 80%;
	background-image: url("womensmarch.jpg");
	height: 100vh;
	opacity: 0.6;
}

body{
	margin: 0;
	padding: 0;

}

h1{
	float: right;
	font-family: Impact;
	font-size: 50px;
	margin-right: 40px;
}