.container{
	display: grid;
	grid-template-columns: 20% 80%;
}

nav{
	grid-column: 1;
	background-color: grey;
	height: 100%;
}

button{
	height: 50px;
	width: 100%;
	background-color: grey;
	border: none;
	margin: 20px 0px;
	font-size: 18px;
	color: white;
}

button:hover{
	color: blue;
}

main{
	background-image: url("womensmarch.jpg");
	opacity: 0.6;
}

p{
	font-size: 100%;
}

#mission{
	margin-top: 50%;

}

#heading{
	text-align: right;
	margin-right: 30px;
	font-family: Impact;
	font-size: 60px;
}


#sign{
	margin-top: 550px;
}

