nav{
	float:left;
	background-color: grey;
	height: 100%;
	position: fixed;
	width: 20%;
	margin: none;
	padding: none;
}

button{
	height: 50px;
	width: 100%;
	background-color: grey;
	border: none;
	margin: 20px 0px;
	font-size: 18px;
	color: white;
}

button:hover{
	color: blue;
}

p{
	font-size: 12px;
}

.container{
	position: absolute;
}

main{
	float: right;
	width: 75%;

}